:root {
  --light-green: #d7fdec;
  --dark-green: #c9e8da;
  --light-red: #f9c2c2;
  --dark-red: #dba4a4;
}

@font-face { 
  font-family: comfortaa; 
  src: url(../style/font/comfortaa/Comfortaa-Regular.ttf);
  font-weight: normal; 
  font-style: normal;
} 

h1 {
  font-size: 2.5rem;
}

.stimuli_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stimuli_word {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.stimuli_word.inactive {
  visibility: hidden;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.option {
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid black;
  width: 17rem;
}

.option.left {
  background: var(--light-green);
}

.option.left:hover,
.option.left.active
{
  background: var(--dark-green);
}

.option.right {
  background: var(--light-red);
}

.option.right:hover,
.option.right.active
  {
  background: var(--dark-red);
}

.instructions {
  font-size: 1.5rem;
  max-width: 30rem;
  font-family: notosans, sans-serif;
}

.instructions em {
  font-weight: bold;
  font-style: normal;
}

.instructions.next_task_wrapper {
  margin: 3rem;
}

.instructions a.next_task {
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px solid black;
  text-decoration: none;
}

.resultados {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 1rem;
}

.resultados .global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 2rem;
  color: hsl(0,0%, 100%);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
}

.resultados .global .puntaje_global {
  background: hsl(120, 100%, 30%);
  color: hsl(0,0%, 100%);
  border: 4px solid white;
  padding: 1rem;
}

.resultados .global > div {
  flex: 0 1 auto;
}

.resultados .global .puntaje_wrapper {
  display: flex;
  flex-direction: row;
  background: hsl(186, 100%, 32.7%);
  padding: 2rem;
}

.resultados .global .puntaje_wrapper .puntaje_texto {
  padding-right: 2rem;
}

.resultados .global .puntaje_wrapper .puntaje_texto p {
  margin-top: 0;
}

.resultados .resultados_body {
  display: flex;
  flex-direction: row;
}

.resultados .resultados_body .intro_text {
  flex: 1 1 10rem;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-family: comfortaa;
}

.resultados .resultados_body .graph {
  font-size: 0.8rem;
  margin: 0;
}

.resultados .graph {
  border: 1px solid black;
  flex: 0 1 7rem;
  background: #ff9a60;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.resultados .graph svg {
  border: 1px solid black;
  background: hsl(0,0%, 95%);
  width: auto;
  height: auto;
}

.resultados .emphasize {
  font-weight: bold;
}
